@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FAFBFF
    /* #e5eaf2; */
}
html {
    overflow-y: scroll;
  }
.swiper-button-next:after,
.swiper-button-prev:after{
      color: #f3f4f4;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill .swiper-pagination-bullet .swiper-pagination-bullet-active{
    background: #74b9ff !important
}
  